Repository sfb2csolutionarchitects/b2c-crm-sync, pull requests merged in 2021-04, with the labels that each got.

#21 #17 ... updated the readMe to fill gaps.
  README.md
Labels: documentation

#29 Test Coverage
  src/sfdc/force-app/main/default/classes/B2CContactManagerTest.cls
  src/sfdc/force-app/main/default/classes/B2CContactManagerTest.cls-meta.xml
  src/sfdc/force-app/main/default/classes/B2CCustomerListManager_Test.cls
  src/sfdc/force-app/main/default/classes/B2CHttpTestCalloutMockGenerator.cls
  src/sfdc/force-app/main/default/classes/B2CIACustomerResolution_Test.cls
  src/sfdc/force-app/main/default/classes/B2CIAGetCustomerListsSites_Test.cls
  src/sfdc/force-app/main/default/classes/B2CIAValidateContact_Test.cls
  src/sfdc/force-app/main/default/classes/B2CIAValidateContact_Test.cls-meta.xml
  src/sfdc/force-app/main/default/classes/B2CStorefrontManager.cls
  src/sfdc/force-app/main/default/classes/B2CStorefrontManager_Test.cls
Labels: asap, deploy, needs tests, refactor, sfdc

#35 #28 add coverage for B2CConfigManager
  src/sfdc/force-app/main/default/classes/B2CConfigurationManager_Test.cls
  src/sfdc/force-app/main/default/classes/B2CConfigurationManager_Test.cls-meta.xml
Labels: needs tests, sfdc

#39 code coverage for #28 (B2CIAGetCustomerProfile) and bugfix
  src/sfdc/force-app/main/default/classes/B2CHttpTestCalloutMockGenerator.cls
  src/sfdc/force-app/main/default/classes/B2CIAGetCustomerProfile.cls
  src/sfdc/force-app/main/default/classes/B2CIAGetCustomerProfile_Test.cls
  src/sfdc/force-app/main/default/classes/B2CIAGetCustomerProfile_Test.cls-meta.xml
Labels: flow, needs tests, sfdc

#36 misc bugfixes
  lib/cli-api/_b2cServicesCreate.js
  src/sfcc/_templates/meta-data/service_per_site.xml
  src/sfcc/cartridges/int_b2ccrmsync/cartridge/scripts/services/ServiceMgr.js
  src/sfcc/cartridges/int_b2ccrmsync/cartridge/scripts/services/rest.js
  src/sfdc/person-accounts/main/default/duplicateRules/Contact.B2C_Commerce_Standard_Person_Accounts.duplicateRule-meta.xml
Labels: bug, deploy, sfcc

#44 package.json / package-lock.json updates
  package-lock.json
  package.json
Labels: asap, bug, deploy

#46 TestCoverage
  src/sfdc/force-app/main/default/classes/B2CIAGetContact_Test.cls
  src/sfdc/force-app/main/default/classes/B2CIAGetContact_Test.cls-meta.xml
  src/sfdc/force-app/main/default/classes/B2CIAProcessCustomerProfile_Test.cls
  src/sfdc/force-app/main/default/classes/B2CIAProcessCustomerProfile_Test.cls-meta.xml
Labels: account-contacts, deploy, needs tests, sfdc

#49 Issue 025: Removed Global Keyword -- and minor hygiene updates
  src/sfdc/force-app/main/default/classes/B2CBaseManagerTest.cls
  src/sfdc/force-app/main/default/classes/B2CConfigurationManager_Test.cls
  src/sfdc/force-app/main/default/classes/B2CContactManagerTest.cls
  src/sfdc/force-app/main/default/classes/B2CHttpTestCalloutMockGenerator.cls
  src/sfdc/force-app/main/default/classes/B2CIAAuthViaClientCredentialsGrant.cls
  src/sfdc/force-app/main/default/classes/B2CIAGetAccessTokenResult.cls
  src/sfdc/force-app/main/default/classes/B2CIAGetContact.cls
  src/sfdc/force-app/main/default/classes/B2CIAGetContactInput.cls
  src/sfdc/force-app/main/default/classes/B2CIAGetContactResult.cls
  src/sfdc/force-app/main/default/classes/B2CIAGetCustomerListsSites.cls
  src/sfdc/force-app/main/default/classes/B2CIAGetCustomerListsSitesInput.cls
  src/sfdc/force-app/main/default/classes/B2CIAGetCustomerListsSitesResult.cls
  src/sfdc/force-app/main/default/classes/B2CIAGetCustomerProfileInput.cls
  src/sfdc/force-app/main/default/classes/B2CIAGetCustomerProfileResult.cls
  src/sfdc/force-app/main/default/classes/B2CIAProcessCustomerProfile.cls
  src/sfdc/force-app/main/default/classes/B2CIAPublishCustomerProfile.cls
  src/sfdc/force-app/main/default/classes/B2CIAPublishCustomerProfileInput.cls
  src/sfdc/force-app/main/default/classes/B2CIAPublishCustomerProfileResult.cls
  src/sfdc/force-app/main/default/classes/B2CIARemovePAPropertiesFromContact.cls
  src/sfdc/force-app/main/default/classes/B2CIARemovePAPropertiesFromContactInput.cls
  src/sfdc/force-app/main/default/classes/B2CIARemovePAPropertiesFromContactResult.cls
  src/sfdc/force-app/main/default/classes/B2CIASynchronizeContact.cls
  src/sfdc/force-app/main/default/classes/B2CIASynchronizeContactInput.cls
  src/sfdc/force-app/main/default/classes/B2CIASynchronizeContactResult.cls
  src/sfdc/force-app/main/default/classes/B2CIAValidateContact.cls
  src/sfdc/force-app/main/default/classes/B2CIAValidateContactInput.cls
  src/sfdc/force-app/main/default/classes/B2CIAValidateContactResult.cls
  src/sfdc/force-app/main/default/classes/TestDataFactory.cls
  src/sfdc/person-accounts/main/default/classes/B2CAccountManager_Test.cls
  src/sfdc/person-accounts/main/default/classes/B2CProcessPersonAccount_Test.cls
Labels: refactor, sfdc

#55 #47 ... Remove ConnectedAppID-unfriendly characters from the SiteID before creating the ConnectedApp definitions
  config/default.js
  lib/cli-api/_common/_cleanSiteIdForConnectedApp.js
  lib/cli-api/_common/index.js
  lib/cli-api/_sfConnectedAppsCreate.js
  test/cli/cli-api/_common/cleanSiteIdForConnectedApp.test.js
Labels: asap, bug, deploy, sfdc
