Repository sfb2csolutionarchitects/b2c-crm-sync, pull requests merged in 2021-05, with the labels that each got.

#92 Fix for when "Total_Updates_From_B2C_Commerce__c" does not exist
  src/sfdc/force-app/main/default/classes/B2CIAProcessCustomerProfile.cls
Labels: bug, hoody-worthy, must have, refactor, sfdc

#102 Hotfix: Corrected fileName case errors (see issue 100 for details).
  config/default.js
  lib/_common/request/_createRequestInstance.js
  lib/cli-api/_getRuntimeEnvironment.js
  lib/qa/nocks/b2c/ocapi/_internalServerError_FailureNock.js
  package.json
  test/_use-cases/b2c/authentication.live.test.js
  test/cli/apis/ci/code-versions/activate.test.js
  test/cli/apis/ci/code-versions/create.test.js
  test/cli/apis/ci/code-versions/getDetail.test.js
  test/cli/apis/ci/sites/getDetail.test.js
  test/cli/apis/sfcc/ocapi/data/codeVersionGet.test.js
  test/cli/apis/sfcc/ocapi/data/codeVersionPut.test.js
  test/cli/apis/sfcc/ocapi/data/siteDetailsGet.test.js
  test/cli/cli-api/b2cCodeVersionsList.test.js
Labels: asap, bug, deploy, good first issue, hoody-worthy, must have, ready for work, refactor

#109 Misc updates to improve multi-cloud unit test results and execution consistency.
  config/default.js
  lib/qa/processes/_common/sfdc/contact/_deleteAccountsByContacts.js
  lib/qa/processes/_common/sfdc/contact/_getByEmail.js
  package.json
  test/_common/poc-validation/duplicateProcessing.live.test.js
  test/_use-cases/b2c/customerRegistration.live.test.js
  test/_use-cases/sfdc/b2cContactProcess.resolve.live.test.js
  test/_use-cases/sfdc/b2cCustomerProfileUpdate.live.test.js
Labels: account-contacts, deploy, must have, needs tests, person-accounts, refactor, sfcc, sfdc

#112 Apply the 'refresh_token' default scope to the authProvider definition.
  config/default.js
  lib/cli-api/_sfAuthProviderCreate.js
  package.json
  test/_use-cases/sfdc/b2cContactProcess.create.live.test.js
Labels: account-contacts, asap, bug, person-accounts, sfcc, sfdc
